<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>bonds</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class='title_bar'>
        <a class='logo' href="#">
            Tech
            <span>Investors</span>
        </a>
    </div>
    <script>
      const bonds_per = sessionStorage.getItem('bonds_per');
    </script>
    <script>
       window.addEventListener('load',() =>{
       if(bonds_per === '0_1'){
            window.location.href = '/bond_0_1/';
            
        }
        else if(bonds_per === '1_3'){
            window.location.href = "/bond_1_3/";
        }
        else if(bonds_per === '3_5'){
             window.location.href = "/bond_3_5/";
        }
        else if(bonds_per === '5_'){
            window.location.href = "/bond_5_/";
        }
     })
    </script>
    
</body>
</html>