{% extends 'base_tables.html' %}

{% block head %} 
<title> Bonds </title>
{% endblock %}

{% block body %}
<div class='title_bar'>
  <a class='logo' href="#">
      Tech
      <span>Investors</span>
  </a>
</div>

<br><br>


<div class="cl">
<center><h1>Bonds: Top picks</h1></center>
<table class="table caption-top align-content-center">
    <thead>
      <tr> 
        <th scope="col">Name</th>
        <th scope="col">Coupon</th>
        <th scope="col">Call Date</th>
        <th scope="col">Ratings</th>
        <th scope="col">Type of bond</th>
        <th scope="col">Yeild</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        {% for i in range(NAME|length) %}
            <tr>
                <td>{{ NAME.iloc[i] }}</td>
                <td>{{ COUPON.iloc[i] }}</td>
                <td>{{ CALL_DATE.iloc[i] }}</td>
                <td>{{ RATING.iloc[i] }}</td>
                <td>{{ TYPE_OF_BOND.iloc[i] }}</td>
                <td>{{ YEILD.iloc[i] }}</td>
                <td>{{ PRICE.iloc[i] }}</td>

            </tr>
        {% endfor %}
    </tbody>
  </table>
<br><br>

</div>
<div class="flex-container"  align="center">
  <div>
  <form action='/fdrate/' method="POST" align="center">
    <a href="/fdrate/" >
    <input type="submit" value="fd rates">
  </a>
</form>
</div>

<div>
  <form action="/bonds/" method="POST" align="center"> 
    <input type="submit" name="b" id="b" value="bonds">
      </form>
    </div>
    <div>    
  <form action='/mf/' method="POST" align="center">
  <a href='/mf/'>
    <input type="submit" value="mutual funds">
  </a>
</form>
</div>
<div>
<form action='/stocks/' method="POST" align="center">
  <a href='/stocks/'>
    <input type="submit"  value="stocks">
  </a>
  </form>
</div>
  
</div>
  <br>

{% endblock %} 



