<!DOCTYPE html>
<html>
<head>
	<title>bonds</title>
  <link rel="stylesheet" href="/static/categories.css">
	
</head>
<body>
  <div class='title_bar'>
    <a class='logo' href="#">
        Tech
        <span>Investors</span>
    </a>
</div>
	<!--<button onclick="myFunction()">fd rates</button>
    <script src="CsvToTable.js"></script>
    <script>
	    
		    var csvtotable = new CsvToTable({
		        csvFile: 'fd_data.csv'
	        });
	    function myFunction(){   
	    csvtotable.run();};
    </script>-->
    <form action="/bonds_junc/" method="POST">
        <select name="filter" id="filter" onchange="getvalue(this)">
             <option value=null></option>   
            <option value="0_1">0-1 year</option>
            <option value="1_3">1-3 years</option>
            <option value="3_5">3-5 years</option>
            <option value="5_">5+ years</option>
          </select>
    <script>
            var bonds_per;
            function getvalue(select_object){
               bonds_per = select_object.options[select_object.selectedIndex].value;
              }
    </script>
    <input type="submit" class="hero-img" onclick="handleSubmit()" value="Submit">
    <script>
        function handleSubmit(){
        //const profile= document.getElementById("risk_profiles").value;
        sessionStorage.setItem("bonds_per", bonds_per);
        //sessionStorage.setItem("profile",profile);
        
    }
    </script>
    <!--<script>
         if(profile === '0_1'){
             csv ="../india_bonds_0_1.csv";
         }
         else if(profile === '1_3'){
             csv = "../india_bonds_1_3.csv";
         }
         else if(profile === '3_5'){
             csv = "../india_bonds_3_5.csv";
         }
         else{
             csv = "../india_bonds_5_plus.csv";
         }
    </script>
	<button onclick="myFunction()">top bond schemes</button>
    <script src="/static/CsvToTable.js"></script>
    <script>
	    
		    var csvtotable = new CsvToTable({
		        csvFile: csv
	        });
	    function myFunction(){   
	    csvtotable.run();};
    </script>-->
	
</body>
</html>