<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>risk profile options</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['assets', 'percentage'],
          ['Stocks',     40],
          ['Corporate bonds',      40],
          ['Mutual Funds',  10],
          ['Fixed Deposits', 10],
          
        ]);

        var options = {
          title: 'Conservative',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
  <div class='title_bar'>
    <a class='logo' href="#">
        Tech
        <span>Investors</span>
    </a>
</div>
<!--<div class="navbar">
    <div class="container">
        <nav>
            <ul class="primary-nav">
                <div class="current_cont">
                <li class="current">
                <a href="#">Home  </a>
                </li>
                <li>
                <a href="asset.html">Asset Allocation Calculator</a>
                </li>
            </ul>
        </nav>
    </div>
</div>-->
    <div class="hero-img" id="piechart_3d" style="width: 900px; height: 500px;"></div>
    <br><br>
    <ul>
      <li>Stocks
        <ul>
          <li>Large Cap Blend 15%</li>
          <li>Mid Cap Blend 10%</li>
          <li>Small Cap Blend 10%</li>
          <li>Emerging Markets 5%</li>
        </ul>
      </li>
      <li>Corporate Bonds 40%</li>
      <li>Fd’s 10%</li>
      <li>Mutual funds 10%</li>
    </ul>
    <br><br><br>
    <ul>
      <li>willing and able to accept some risk or volatility</li>
      <li>primarily focused on pursuing a modest level of portfolio appreciation with minimal principal loss and volatility</li>
      <li>someone with a portfolio that primarily includes investments in cash and bonds with some allocation in equities</li>
      
    </ul>
    <form action='/fd/' method='POST'>
      <button>click here to view fd rates</button>
  </form>
    <form action='/bonds/' method='POST'>
      <button>click here to get more info on bonds</button>
  </form>
    <form action='/mf/' method='POST'>
      <button>click here to get more info on mutual funds</button>
    </form>
    <form action='/stocks/' method='POST'>
      <button>click here to get more info on stocks</button>
    </form>
</body>
</html>