<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>risk profile options</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['assets', 'percentage'],
          ['Stocks',     40],
          ['Corporate bonds',      40],
          ['Mutual Funds',  10],
          ['Fixed Deposits', 10],
          
        ]);

        var options = {
          title: 'Conservative',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body style="background-color: turquoise;">
  <div class='title_bar'>
    <a class='logo' href="#">
        Tech
        <span>Investors</span>
    </a>
</div>
<div class="navbar">
    <div class="container">
        <nav>
            <ul class="primary-nav">
                <div class="current_cont">
                <li >
                <a href="/">Home  </a>
                </li>
                <li class="current">
                <a href="/asset/">Asset Allocation Calculator</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<br><br>
<div style="border-style:solid; width:70%; margin:2em 12em; background-color: #dff9fd; border-radius: 2em; border-width: 5px; border-color:white;  ">
<h1 align="center" style="color: #1b90cf;">Risk Profile: Conservative</h1>
<br>
    <div class="hero-img" id="piechart_3d" style="width: 900px; height: 500px;"></div>
    <br><br>
    <div align="center">
    <ul class='anno'>
      <li>Stocks
        <ul class='neesho' >
          <li>Large Cap Blend 15% &ensp; {{am*0.15}}</li>
          <li>Mid Cap Blend 10% &ensp; {{am*0.1}}</li>
          <li>Small Cap Blend 10% &ensp; {{am*0.1}}</li>
          <li>Emerging Markets 5% &ensp; {{am*0.05}}</li>
        </ul>
      </li>
      <li>Corporate Bonds 40% &ensp; {{am*0.4}}</li>
      <li>Fd’s 10% &ensp; {{am*0.1}}</li>
      <li>Mutual funds 10% &ensp; {{am*0.1}}</li>
    </ul>
    <br><br><br>
    <div align="center">
    <ul class='kiso'>
      <li>willing and able to accept some risk or volatility</li>
      <li>primarily focused on pursuing a modest level of portfolio appreciation with minimal principal loss and volatility</li>
      <li>someone with a portfolio that primarily includes investments in cash and bonds with some allocation in equities</li>
      
    </ul>
  </div>
</div>
    <div class="flex-container" >
      <div>
      <form action='/fdrate/' method="POST" align="center">
        <a href="/fdrate/" >
        <input type="submit" value="fd rates">
      </a>
    </form>
  </div>
    
  <div>
      <form action="/bonds/" method="POST" align="center"> 
        <input type="submit" name="b" id="b" value="bonds">
          </form>
        </div>
        <div>    
      <form action='/mf/' method="POST" align="center">
      <a href='/mf/'>
        <input type="submit" value="mutual funds">
      </a>
    </form>
  </div>
    <div>
    <form action='/stocks/' method="POST" align="center">
      <a href='/stocks/'>
        <input type="submit"  value="stocks">
      </a>
      </form>
    </div>
      
    </div>
  </div>
      <br>
</body>
</html>