<!DOCTYPE html>
<html>
<head>
	<title>fixed deposit</title>
    <link rel="stylesheet" href="/static/categories.css">
	
</head>
<body>
	<div class='title_bar'>
        <a class='logo' href="#">
            Tech
            <span>Investors</span>
        </a>
    </div>
	<!--<button onclick="myFunction()">fd rates</button>
    <script src="CsvToTable.js"></script>
    <script>
	    
		    var csvtotable = new CsvToTable({
		        csvFile: 'fd_data.csv'
	        });
	    function myFunction(){   
	    csvtotable.run();};
    </script>-->
	<h1>Fixed Deposits</h1>
	<script>
		const age =sessionStorage.getItem('age');
		var csv;
		if(age>=60){
             csv='../senior_cit_fd.csv';
		}
		else{
			csv= '../fd_data.csv';
		}

	</script>
	<form action="/fdrate/" method="POST">
		<button type="submit" name="b" id="b">submit</button>
    </form>
    <!--<script src="/static/CsvToTable.js"></script>
    <script>
	    
		    var csvtotable = new CsvToTable({
		        csvFile: csv
	        });
	    function myFunction(){   
	    csvtotable.run();};
    </script>-->
	
	
</body>
</html>