{% extends 'base_tables.html' %}

{% block head %} 
<title> fd rates </title>
{% endblock %}

{% block body %}
<div class='title_bar'>
  <a class='logo' href="#">
      Tech
      <span>Investors</span>
  </a>
</div>


<br><br>
<h1>
  Fixed Deposit rates
</h1><br><br>

<div class="cl">
<center><h1>Top fd rates for you!</h1></center>
<table class="table caption-top align-content-center">
    <thead>
      <tr> 
        <th scope="col">Banks</th>
        <th scope="col">Interest rate</th>
      </tr>
    </thead>
    <tbody>
      <h1>fd</h1>
        {% for i in range(10) %}
            <tr>
                <td>{{ BANKS.iloc[i] }}</td>
                <td>{{ INTEREST_RATE.iloc[i] }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
<br><br>

</div>
<br><br>
<p class="writeup" align="center">
<h4>Bank fixed deposits (FDs) are usually the first port of call for those beginning their investment journey. Income certainty and capital protection features of bank FDs also make them immensely popular among investors with low-risk appetite and those investing to meet their short-term financial goals.
</h4>
<h3>Pros</h3>
<br>
<h3>Protection in the form of deposit insurance cover:</h3>
<h4>Fixed deposits opened with scheduled banks are covered under the deposit insurance programme of Deposit Insurance and Credit Guarantee Corporation (DICGC), a subsidiary of the Reserve Bank of India (RBI). The insurance cover is applicable on cumulative bank deposits, which includes fixed deposits, savings account, recurring deposits and current account, of up to Rs5 lakh per bank, per depositor in the event of bank failures.
</h4>
<h3>Assured returns on investments:</h3>
<h4>The booked interest rates of bank FDs remain fixed till their maturity, irrespective of any change in the banks’ FD card rates in the interim. For instance, if an individual opens a bank fixed deposit of 2 years tenure at 6% p.a., the interest rate will stay the same till the end of 2 years tenure. This provides a high degree of income certainty in FDs, even higher than those offered by most small saving schemes.
</h4>
<h3>Availability of secured credit card:</h3>
<h4>Secured credit cards are offered against the collateral of FD. “Secured credit cards can be helpful for those who aren’t able to get regular credit cards due to no or low credit score, inadequate income, unserviceable location, company’s profile or job profile. Note that the secured card users also continue to earn interest on their FDs used as collateral,"</h4>
<h3>Availability of loan against FD:</h3>
<h4>Most banks offer loans against FD, usually in the form of an overdraft facility, wherein a credit limit is sanctioned to the borrower based on the FD amount submitted as collateral. The borrower continues to earn interest on the pledged FDs during the loan tenure. Borrowers can withdraw up to the sanctioned amount from their overdraft account and repay it basis their repayment capacity. The interest is levied on the amount drawn till its repayment.</h4>

</p>
<div class="flex-container" >
  <div>
  <form action='/fdrate/' method="POST" align="center">
    <a href="/fdrate/" >
    <input type="submit" value="fd rates">
  </a>
</form>
</div>

<div>
  <form action="/bonds/" method="POST" align="center"> 
    <input type="submit" name="b" id="b" value="bonds">
      </form>
    </div>
    <div>    
  <form action='/mf/' method="POST" align="center">
  <a href='/mf/'>
    <input type="submit" value="mutual funds">
  </a>
</form>
</div>
<div>
<form action='/stocks/' method="POST" align="center">
  <a href='/stocks/'>
    <input type="submit"  value="stocks">
  </a>
  </form>
</div>
  
</div>
  <br>

{% endblock %} 