<!DOCTYPE html>
<html>
<head>
	<title>Mutual funds</title>
	<link rel="stylesheet" href="/static/categories.css">
	
</head>
<body>
	<div class='title_bar'>
        <a class='logo' href="#">
            Tech
            <span>Investors</span>
        </a>
    </div>
	<!--<button onclick="myFunction()">fd rates</button>
    <script src="CsvToTable.js"></script>
    <script>
	    
		    var csvtotable = new CsvToTable({
		        csvFile: 'fd_data.csv'
	        });
	    function myFunction(){   
	    csvtotable.run();};
    </script>-->
	<!--<script>
		const age =sessionStorage.getItem('age');
		var csv;
		if(age>=65){
             csv='senior_cit_fd.csv';
		}
		else{
			csv= 'fd_data.csv';
		}

	</script>-->
	<h1>Mutual Funds</h1>
	<button onclick="myFunction()">mutual funds rates</button>
    <script src="/static/CsvToTable.js"></script>
    <script>
	    
		    var csvtotable = new CsvToTable({
		        csvFile: "../mutual_funds.csv"
	        });
	    function myFunction(){   
	    csvtotable.run();};
    </script>
	
</body>
</html>