<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>mutual funds</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class='title_bar'>
        <a class='logo' href="#">
            Tech
            <span>Investors</span>
        </a>
    </div>

    <script>
       const mf_time = sessionStorage.getItem('mf_time');
    </script>
    <script>
        window.addEventListener('load', () => {
            if (mf_time === "1_w") {
                window.location.href = '/1_week/';

            }
            else if (mf_time === '1_m') {
                window.location.href = "/1_month/";
            }
            else if (mf_time  === '3_m') {
                window.location.href = "/3_months/";
            }
            else if (mf_time  === '6_m') {
                window.location.href = "/6_months/";}

		    else if (mf_time === '1_y') {
                    window.location.href = "/1_year/";
                }
            else if (mf_time  === '3_y') {
                    window.location.href = "/3_years/";
                }
            else if (mf_time  === '5_y') {
                    window.location.href = "/5_years/";
                }
            })
    </script>


</body>

</html>