<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>risk profile options</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['assets', 'percentage'],
          ['Stocks',     60],
          ['Corporate bonds',      25],
          ['Mutual Funds',  10],
          ['Fixed Deposits', 5],
          
        ]);

        var options = {
          title: 'Moderate',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
  <div class='title_bar'>
    <a class='logo' href="#">
        Tech
        <span>Investors</span>
    </a>
</div>
<div class="navbar">
    <div class="container">
        <nav>
            <ul class="primary-nav">
                <div class="current_cont">
                <li >
                <a href="/">Home  </a>
                </li>
                <li class="current">
                <a href="#">Asset Allocation Calculator</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
    <div class="hero-img" id="piechart_3d" style="width: 900px; height: 500px;"></div>
    <br><br>
    <ul>
      <li>Stocks
        <ul>
          <li>Large Cap Blend 20%</li>
          <li>Mid Cap Blend 20%</li>
          <li>Small Cap Blend 10%</li>
          <li>Emerging Markets 10%</li>
        </ul>
      </li>
      <li>Corporate Bonds 25%</li>
      <li>Fd’s 5%</li>
      <li>Mutual funds 10%</li>
    </ul>
    <br><br><br>
    <ul>
      <li>looking for a balance between portfolio stability and portfolio appreciation</li>
      <li>willing and able to accept a moderate level of risk and return</li>
      <li>an investor focused on growth but looking for greater diversification</li>
      <li>someone with a portfolio that primarily includes a balance of investments in bonds and equities
      </li>
    </ul>
    
      <a href="/fd/">
      <button>click here to view fd rates</button>
    </a>
  
    <!--<a href='/bonds/' >
      <button>click here to get more info on bonds</button>
    </a>-->
    <form action="/bonds/" method="POST"> 
      <button type="submit" name="b" id="b">click here to get more info on bonds</button>
        </form>
    <a href='/mf/'>
      <button>click here to get more info on mutual funds</button>
    </a>
    <a href='/stocks/'>
      <button>click here to get more info on stocks</button>
    </a>
</body>
</html>