<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>senior citizen fd rates</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class='title_bar'>
        <a class='logo' href="#">
            Tech
            <span>Investors</span>
        </a>
    </div>
    <script>

        const sen_per = sessionStorage.getItem('sen_per');

    </script>
    <script>
        window.addEventListener('load', () => {
            if (sen_per === "0_1") {
                window.location.href = '/less_1/';

            }
            else if (sen_per === '1_5') {
                window.location.href = "/1_5y/";
            }
            else if (sen_per  === '5_') {
                window.location.href = "/5_y/";
            }
        })
    </script>


</body>

</html>