<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>bonds</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class='title_bar'>
        <a class='logo' href="#">
            Tech
            <span>Investors</span>
        </a>
    </div>
    <!--<div class="navbar">
        <div class="container">
            <nav>
                <ul class="primary-nav">
                    <div class="current_cont">
                    <li class="current">
                    <a href="#">Home  </a>
                    </li>
                    <li>
                    <a href="asset.html">Asset Allocation Calculator</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>-->

    <!--<h2>
        Age: <span id="result-age" />
    </h2>
    <h2>
        Amount: <span id="result-amount" />
    </h2>
    <h2>
        Profile: <span id="result-profile" />
    </h2>-->
    <h1>hi</h1>
    <script>


        // Via Query parameters - GET
        /* const params = (new URL(document.location)).searchParams;
        const name = params.get('name');
        const surname = params.get('surname'); */

        // Via local Storage
        /* const name = localStorage.getItem('NAME');
        const surname = localStorage.getItem('SURNAME'); */


        const sen_per = sessionStorage.getItem('sen_per');

        /*document.getElementById('result-age').innerHTML = age;
        document.getElementById('result-amount').innerHTML = amount;
        document.getElementById('result-profile').innerHTML = profile;*/


    </script>
    <script>
        //console.log(age);
        window.addEventListener('load', () => {
            if (sen_per === "0_1") {
                window.location.href = '/less_1/';

            }
            else if (sen_per === '1_5') {
                window.location.href = "/1_5y/";
            }
            else if (sen_per  === '5_') {
                window.location.href = "/5_y/";
            }
        })
    </script>


</body>

</html>