{% extends 'base_tables.html' %}

{% block head %} 
<title> Bonds </title>
{% endblock %}

{% block body %}
<div class='title_bar'>
  <a class='logo' href="#">
      Tech
      <span>Investors</span>
  </a>
</div>

<br><br>


<div class="cl">
<center><h1>Table</h1></center>
<table class="table caption-top align-content-center">
    <thead>
      <tr> 
        <th scope="col">company name</th>
        <th scope="col">p/e ratio</th>
        <th scope="col">1 yr return pr</th>
        <th scope="col">payout ratio pr</th>
        <th scope="col">3 yr avg div payout</th>
        <th scope="col">prize value</th>
        <th scope="col">1 yr profit growth pr</th>
        
      </tr>
    </thead>
    <tbody>
        {% for i in range(COMP|length) %}
            <tr>
                <td>{{ COMP.iloc[i] }}</td>
                <td>{{ P_E.iloc[i] }}</td>
                <td>{{ Y_1_RET.iloc[i] }}</td>
                <td>{{ PRP.iloc[i] }}</td>
                <td>{{ Y_3_AVG.iloc[i] }}</td>
                <td>{{ PV.iloc[i] }}</td>
                <td>{{ Y_1_PG.iloc[i] }}</td>
                
                
            </tr>
        {% endfor %}
    </tbody>
  </table>
<br><br>
<div class="flex-container" >
  <div>
  <form action='/fdrate/' method="POST" align="center">
    <a href="/fdrate/" >
    <input type="submit" value="fd rates">
  </a>
</form>
</div>

<div>
  <form action="/bonds/" method="POST" align="center"> 
    <input type="submit" name="b" id="b" value="bonds">
      </form>
    </div>
    <div>    
  <form action='/mf/' method="POST" align="center">
  <a href='/mf/'>
    <input type="submit" value="mutual funds">
  </a>
</form>
</div>
<div>
<form action='/stocks/' method="POST" align="center">
  <a href='/stocks/'>
    <input type="submit"  value="stocks">
  </a>
  </form>
</div>
  
</div>
  <br>

</div>

{% endblock %}