<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css"> 
    <title>stock graphs</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
<script>
  google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
      var sticker1 ='{{STicker[0]}}' ;
      var sticker2 = '{{STicker[1]}}';
      var sticker3 = '{{STicker[2]}}';
      var sticker4 = '{{STicker[3]}}';
      var sticker5 = '{{STicker[4]}}';
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', sticker1);
      data.addColumn('number', sticker2);
      data.addColumn('number', sticker3);
      data.addColumn('number', sticker4);
      data.addColumn('number', sticker5);
      
data.addRows({{array1 | safe}})
      var options = {
        
  
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Stock Price'
        },
        series: {
          1: {curveType: 'function'}
        },
        series: {
          2: {curveType: 'function'}
        },
        series: {
          3: {curveType: 'function'}
        },
        series: {
          4: {curveType: 'function'}
        },
        
         height: 700,
         width: 1500,
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
      var lticker1 ='{{LTicker[0]}}' ;
      var lticker2 = '{{LTicker[1]}}';
      var lticker3 = '{{LTicker[2]}}';
      var lticker4 = '{{LTicker[3]}}';
      var lticker5 = '{{LTicker[4]}}';
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', lticker1);
      data.addColumn('number', lticker2);
      data.addColumn('number', lticker3);
      data.addColumn('number', lticker4);
      data.addColumn('number', lticker5);
      
data.addRows({{array2 | safe}})
      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Stock Price'
        },
        series: {
          1: {curveType: 'function'}
        },
        series: {
          2: {curveType: 'function'}
        },
        series: {
          3: {curveType: 'function'}
        },
        series: {
          4: {curveType: 'function'}
        },
        height: 700,
        width: 1500,
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div1'));

      chart.draw(data, options);
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
<script>
  google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
      var mticker1 ='{{MTicker[0]}}' ;
      var mticker2 = '{{MTicker[1]}}';
      var mticker3 = '{{MTicker[2]}}';
      var mticker4 = '{{MTicker[3]}}';
      var mticker5 = '{{MTicker[4]}}';
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', mticker1);
      data.addColumn('number', mticker2);
      data.addColumn('number', mticker3);
      data.addColumn('number', mticker4);
      data.addColumn('number', mticker5);
      
data.addRows({{array3 | safe}})
      var options = {
        
  
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Stock Price'
        },
        series: {
          1: {curveType: 'function'}
        },
        series: {
          2: {curveType: 'function'}
        },
        series: {
          3: {curveType: 'function'}
        },
        series: {
          4: {curveType: 'function'}
        },
        
         height: 700,
         width: 1500,
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div2'));

      chart.draw(data, options);
    }
</script>

</head>
<body>
  <div class='title_bar'>
    <a class='logo' href="#">
        Tech
        <span>Investors</span>
    </a>
</div>

<br><br>
    <h1 align="center">Large Cap</h1>
    
    <div id ="chart_div1" align = "center"></div>
    <br>
    <br><br>
    <h1 align="center">Mid Cap</h1>
    
    <div id ="chart_div2" align = "center"></div>
    <br>
    <br><br>
    <h1 align="center">Small Cap</h1>
    
    <div id="chart_div" align = "center"></div> 
    <br>
    
    <div class="flex-container" >
      <div>
      <form action='/fdrate/' method="POST" align="center">
        <a href="/fdrate/" >
        <input type="submit" value="fd rates">
      </a>
    </form>
  </div>
    
  <div>
      <form action="/bonds/" method="POST" align="center"> 
        <input type="submit" name="b" id="b" value="bonds">
          </form>
        </div>
        <div>    
      <form action='/mf/' method="POST" align="center">
      <a href='/mf/'>
        <input type="submit" value="mutual funds">
      </a>
    </form>
  </div>
    <div>
    <form action='/stocks/' method="POST" align="center">
      <a href='/stocks/'>
        <input type="submit"  value="stocks">
      </a>
      </form>
    </div>
      
    </div>
      <br>    

</body>
</html>