<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>risk profile options</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['assets', 'percentage'],
          ['Stocks',     85],
          ['Corporate bonds',      5],
          ['Mutual Funds',  10],
          ['Fixed Deposits', 0],
          
        ]);

        var options = {
          title: 'Very Agressive ',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
  <div class='title_bar'>
    <a class='logo' href="#">
        Tech
        <span>Investors</span>
    </a>
</div>
<!--<div class="navbar">
    <div class="container">
        <nav>
            <ul class="primary-nav">
                <div class="current_cont">
                <li class="current">
                <a href="#">Home  </a>
                </li>
                <li>
                <a href="asset.html">Asset Allocation Calculator</a>
                </li>
            </ul>
        </nav>
    </div>
</div>-->
    <div class="hero-img" id="piechart_3d" style="width: 900px; height: 500px;"></div>
    <br><br>
    <ul>
      <li>Stocks
        <ul>
          <li>Large Cap Blend 20%</li>
          <li>Mid Cap Blend 20%</li>
          <li>Small Cap Blend 25%</li>
          <li>Emerging Markets 15%</li>
        </ul>
      </li>
      <li>Corporate Bonds 5%</li>
      <li>Fd’s 0%</li>
      <li>Mutual funds 10%</li>
    </ul>
    <br><br><br>
    <ul>
      <li>primarily focused on pursuing above-average portfolio appreciation over time</li>
      <li>someone who can tolerate higher degrees of fluctuation in the value of his investments</li>
      <li>someone with high return expectations</li>
      <li>someone who won’t need the money from their investments for 15 years or more</li>
      <li>someone with a portfolio that has exposure to various asset classes but will be heavily invested in equities</li>
    </ul>
    <form action='/fd/' method='POST'>
      <button>click here to view fd rates</button>
  </form>
    <form action='/bonds/' method='POST'>
      <button>click here to get more info on bonds</button>
  </form>
    <form action='/mf/' method='POST'>
      <button>click here to get more info on mutual funds</button>
    </form>
    <form action='/stocks/' method='POST'>
      <button>click here to get more info on stocks</button>
    </form>
</body>
</html>